<% content_for :title, "Write a code poem - Codetry - powered by Sydney Dev Camp" %>
<div class="container-narrow">
	<h2><i class="icon-pencil"></i> Write a poem</h2>

	<%= render 'form' %>

	<%= link_to 'Back', user_poems_path %>
</div>