<div class="comment">
<blockquote>
<b><%= comment.user.try :name %> said:</b><br />
<p><%= comment.content %></p><br />
<p><small><%=comment.created_at.strftime(" on %A, %e %b %Y") %></small></p>

<% if can? :destroy, comment %>
<%= link_to 'delete', [@poem.user, @poem, comment], :confirm => 'Are you sure', :method => :delete %>
<% end %>
</blockquote>
</div>