<h1>Explore Codetry</h1>
      
<br>

  <h3>Language filter</h3>
  <ul class="nav nav-pills">
    <% Poem.all.map(&:language).uniq.each do |language| %>
      <li><%= link_to language, poems_wall_path(:language => language) %></li>
    <% end %>
    <li><%= link_to "CLEAR FILTER", poems_wall_path %></li>
  </ul>

<br>