<h1>Poem Wall</h1>
      
<br>

  <h4>Language filter</h4>
  <ul class="nav nav-pills">
    <% Poem.all.map(&:language).uniq.each do |language| %>
      <li><%= link_to language, poems_wall_path(:language => language) %></li>
    <% end %>
    <li><%= link_to "CLEAR FILTER", poems_wall_path %></li>
  </ul>

<br>