<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>About: <%= @user.about %></p>
<!-- <p>Picture:  @user.picture_url if @user.picture_url </p>
<p>Location:  @user.location </p>
<p>Facebook:  @user.facebook_url </p>
<p>Twitter:  @user.twitter_url </p>
<p>Website:  @user.website_url </p> -->

<%= link_to "User's poems", user_poems_path(@user), :class => 'btn' %>
