<% content_for :title, "Codetry - Information for press - powered by Sydney Dev Camp" %>
<div class="container-narrow">
	<h2><i class="icon-group"></i> About codetry</h2>
	<p>Code is beautiful.</p>

	<p>(It can be)</p>

	<p>When I see an elegant piece of code, I weep. (well, nearly)

	<p>Code is just language, and what is poetry but an expression of thought, passion, ideas, using language?</p>

	<p>Succinct, it is.</p>

	<p>(It can be)</p>

	<p>It is with immense gratitude to each of the site's builders that I can announce this project and invite your submissions of codetry.
	We are looking forward to see what you may come up with, in whatever language you think in. It may or may not compile - that doesn't matter.
	What matters is elegance. Beauty. You'll know when you see it. Post it here and help contribute to the world's literature. 
	Or simply read others' codetry and enjoy a shared moment of understanding.</p>

	<p>We hope that our project inspires people to learn coding and experiment artistically with code.</p>

	<h3>The backstory:</h3>

	<p>From my early days of learning Ruby, I started to get flashes of code snippets in my head as I was thinking about the things I already think about.
	Things like how connected we are, the relationships between us.
	The conditionals about how and when we love each other.
	The human condition.</p>

	<p>As my friend, Peter Argent, kept encouraging me to learn Ruby, I found an outlet that English never quite provided me.
	He tolerates my grandiose ideas and smiles knowingly like a sage.
	Always has kind words.
	His encouragement has been golden.
	"Wow, that's deep", he'd say.</p>

	<p>The Codetry concept was a great project for the Sydney Dev Camp Class of Autumn 2013. It gave them the opportunity to apply what they had been learning in class under Peter's guidance. I am incredibly impressed with how well these guys worked together as a team. 
	This was training for the real world, as if in a startup, working to a brief and deadline.</p>

	<p>Thankyou()</p>
</div>