.zipper{
  position: relative;
  width: 800px;
  height: 510px;
  margin: 50px auto;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
.zipper li {
  position: relative;
  height: 200px;
  padding: 20px;
  background: #eee;
  color: #252525;
  z-index: 2;
  overflow: auto;
}
 
.zipper li:nth-child(odd) {
  background: #fff;
}

.zipper li{-webkit-transition:all 600ms cubic-bezier(0.390,0.575,0.565,1.000);-moz-transition:all 600ms cubic-bezier(0.390,0.575,0.565,1.000);-ms-transition:all 600ms cubic-bezier(0.390,0.575,0.565,1.000);-o-transition:all 600ms cubic-bezier(0.390,0.575,0.565,1.000);transition:all 600ms cubic-bezier(0.390,0.575,0.565,1.000);-webkit-transform-origin:50% 0;-moz-transform-origin:50% 0;-ms-transform-origin:50% 0;-o-transform-origin:50% 0;transform-origin:50% 0}
.zipper li.past:nth-child(odd),.zipper li.future:nth-child(odd){-webkit-transform:translateX(80%);-moz-transform:translateX(80%);-ms-transform:translateX(80%);-o-transform:translateX(80%);transform:translateX(80%)}
.zipper li.past:nth-child(even),.zipper li.future:nth-child(even){-webkit-transform:translateX(-80%);-moz-transform:translateX(-80%);-ms-transform:translateX(-80%);-o-transform:translateX(-80%);transform:translateX(-80%)}