<h2>Codetry creators:</h2>
<br><b>Andrew Kemp </b><a href="https://github.com/andyajna">https://github.com/andyajna</a> Project Founder</br>
<br><b>Peter Argent</b> <a href="https://github.com/pedrogrande">https://github.com/pedrogrande</a> Project Founder</br>
<br><b>David Evans</b> <a href="https://github.com/davidjsevans">https://github.com/davidjsevans</a> Coder</br>
<br><b>Jurgens Smit</b> <a href="https://github.com/JurgensSmit">https://github.com/JurgensSmit</a> Coder</br>
<br><b>Shalini Dalal</b> <a href="https://github.com/shal23">https://github.com/shal23</a> Coder</br>
<br><b>Phillip Simmonds</b> <a href="https://github.com/pjsim">https://github.com/pjsim</a> Coder</br>
<br><b>Sherwyn Goh </b><a href="https://github.com/sherwyngoh">https://github.com/sherwyngoh</a> Coder</br>
<br><b>Eric Hercog</b> <a href="https://github.com/teebii">https://github.com/teebii</a> Coder</br>
<br><b>Baron Bloomer</b> <a href="https://github.com/Bazay">https://github.com/Bazay</a> Coder</br>
<br><br>Sydney Dev Camp class of Autumn 2013</br></br>
