<% content_for :title, "Codetry's contributors - powered by Sydney Dev Camp" %>
<div class="container-narrow">
	<h2><i class="icon-star"></i> Codetry creators</h2>
	<br><b>Andrew Kemp </b><a href="https://github.com/andyajna" target="_blank">https://github.com/andyajna</a> Project Founder
	<br><b>Peter Argent</b> <a href="https://github.com/pedrogrande" target="_blank">https://github.com/pedrogrande</a> Project Founder
	<br><b>David Evans</b> <a href="https://github.com/davidjsevans" target="_blank">https://github.com/davidjsevans</a> Coder
	<br><b>Jurgens Smit</b> <a href="https://github.com/JurgensSmit" target="_blank">https://github.com/JurgensSmit</a> Coder
	<br><b>Shalini Dalal</b> <a href="https://github.com/shal23" target="_blank">https://github.com/shal23</a> Coder
	<br><b>Phillip Simmonds</b> <a href="https://github.com/pjsim" target="_blank">https://github.com/pjsim</a> Coder
	<br><b>Sherwyn Goh </b><a href="https://github.com/sherwyngoh" target="_blank">https://github.com/sherwyngoh</a> Coder
	<br><b>Eric Hercog</b> <a href="https://github.com/teebii" target="_blank">https://github.com/teebii</a> Coder
	<br><b>Baron Bloomer</b> <a href="https://github.com/Bazay" target="_blank">https://github.com/Bazay</a> Coder
	<br><br>&middot; <a href="http://www.sydneydevamp.com" target="_blank">Sydney Dev Camp</a> class of Autumn 2013</br></br>
</div>
